.hero {
  min-height: 60rem;
  height: 100vh;
  height: calc(100vh - 18.8rem);
  overflow: hidden;
  margin: auto;
  color: var(--color-secondary);
  align-items: stretch;
  display: flex;
}
@media screen and (min-width: 600px) {
  .hero {
    height: calc(100vh - 88px);
  }
}
.hero__container {
  margin-top: 2rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding: 0 2rem;
    width: 90%;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    padding: 0;
  }
}
.hero__photo {
  min-width: 450px;
  width: 100%;
  max-width: 90rem;
  padding-left: 2rem;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .hero__photo {
    margin: 2rem 0;
    align-self: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .hero__photo {
    width: 900px;
    margin-left: -400px;
    flex-shrink: 0;
  }
}
.hero__img {
  object-position: left;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.hero__headline {
  width: 100%;
  overflow: hidden;
  min-width: 0;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0 2rem;
  position: relative;
  z-index: 2;
}
@media screen and (max-height: 830px) {
  .hero__headline {
    background: var(--color-gray);
  }
}
@media (min-width: 768px) {
  .hero__headline {
    padding: 0;
    padding-top: 20px;
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__headline {
    align-self: flex-start;
  }
}
.hero__em {
  color: var(--color-primary);
}
.hero__title {
  font-size: 2.4rem;
  line-height: 3rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.2rem;
  }
}
.hero__copy {
  margin-top: 2rem;
  font-size: 2.6rem;
  line-height: 3rem;
  font-family: var(--font-titles);
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .hero__copy {
    font-size: 4.2rem;
    line-height: 4.9rem;
    margin: 0;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1420px) {
  .hero {
    align-items: stretch;
  }
  .hero__container {
    height: unset;
    max-height: 115rem;
    flex-direction: row;
    margin-top: 5rem;
  }
  .hero__headline {
    flex-basis: 60rem;
    flex-shrink: 1;
    flex-grow: 1;
    align-self: flex-start;
  }
  .hero__photo {
    flex-grow: 2;
    margin-left: -42rem;
    margin-right: -150px;
    max-width: unset;
  }
}
