.footer
  display flex
  flex-direction column
  align-items center
  justify-content center
  color $color-white 
  &__link
    color #f7f179
    // font-weight bold
    &:hover
      color #d0ca55
  &__text + &__text
    margin-top $box-margin