
/* Inline #4 | http://127.0.0.1:8080/#project */

.contact
  color $color-white
  background-color $color-bg
  &__btn
    margin-top 10px

.input-group 
  display flex
  flex-direction column
  font-size $font-size-p
  &__label
    font-size $font-size-p
  &__input
    background-color $color-white
    border none
    border-radius 10px
    padding 5px 10px
    font-size inherit
    color $color-black
    &--text-area
      max-width 360px
  &__label + &__input
    margin-top 10px
  & + & 
    margin-top 10px