
/* Inline #4 | http://127.0.0.1:8080/#project */

.contact
  color $color-white
  background-color $color-bg
  &__btn
    margin-top 10px
    @media(min-width:1280px)
      width 150px
      margin-left auto
  &__form
    display flex
  &__left-group
    @media(min-width:1280px)
      width 350px
      margin-right 20px
      // display grid
      // place-items center
      // display flex
      // align-items center
      // justify-content center
      // flex-direction column
  &__right-group
    @media(min-width:1280px)
      width 350px

  

.input-group 
  display flex
  flex-direction column
  font-size $font-size-p
  &__label
    font-size $font-size-p
  &__input
    background-color $color-white
    border none
    border-radius 10px
    padding 5px 10px
    font-size inherit
    color $color-black
    &--text-area
      // max-width 360px
      @media(min-width:1280px)
        height 85px
  &__label + &__input
    margin-top 10px
  & + & 
    margin-top 10px