
$color-primary = #2d132c
$color-secondary = #c72c41
$color-bg = #715670
$color-bg-light = #b79eb6
$color-black = #160104
$color-white = #dbdbdb
$color-gray = #615960
$color-gray-light = #a79da6
$font-normal = "Open Sans", sans-serif
$font-titles = "Roboto", sans-serif

html
  font-size: 62.5%

body
  font-family: $font-normal

h1,h2,h3
  font-family $font-titles
h1
  font-size 
ul,
body,
li,
figure
  margin: 0
  padding: 0

a
  text-decoration: none
  color: inherit

[data-prefix="fas"], [data-prefix="fab"]
  color $color-white
  // font-size 2.5rem

button
 background none
 border none
 appearance none
 padding 0
 