.header
  background-color $color-secondary
  @media(min-width:1280px)
    padding-top 10px
  &__container
    display flex
    justify-content center 
    align-items center
    padding 5px 0
    position relative
    @media(min-width 1280px)
      justify-content space-between
  

  &__logo
    width 125px

  &__img
    width 100%

  &__nav
    display none

    @media(min-width 1280px)
      display block
  &__btns-container
    display flex
    width 250px
  &__btn
    // text-transform uppercase
  &__btn + &__btn
    margin-left 10px


.mobile-btn
  width 5rem
  height 5rem
  // width 5rem
  // height 5rem
  display grid
  place-items center
  position fixed
  border-radius 50%
  right 1rem
  top .3rem
  z-index 10
  background $color-secondary
  @media(min-width 1280px)
    display none
  &--scrolled
    background $color-primary
  &.menu-btn--open
    // background $color-primary
    background transparent


  
.mobile-nav
  display flex
  justify-content center
  color $color-white
  font-size $font-size-h1
  position fixed
  width 100vw
  height 100vh
  background-color $color-primary
  // left 0
  right -@width
  opacity 0
  top 0
  bottom 0
  z-index 10
  transition all .5s ease
  &__list
    display flex
    justify-content center
    flex-direction column
  &__item
    & + & 
      margin-top 20px

  &--open
    right   0
    opacity 1