.hero
  max-width 320px
  height calc(100vh - 96px)
  min-height 55rem
  margin auto
  background-color $color-secondary
  padding $padding
  color $color-white
  display flex
  // flex-direction column
  justify-content  center
  &__container
    padding 0
  
  &__photo
    width 100px
    height @width
    overflow hidden
    border-radius 50%
    margin 0 auto

    // @media screen and (min-width: 768px)
    //   width 250px
    //   height @width
  &__img
    object-position right
    object-fit cover

  &__about-me
    display flex
    align-items  center
    // justify-content space-between
    flex-direction column
    height 80%
    
  &__name
    font-size 2.8rem
    text-align center
    margin 10px 0
    display flex
    flex-direction column
  &__description
    margin 10px 0
    font-size 14px
    text-align justify
  &__social-media
    // margin-top $box-margin
  &__link
    font-size 3rem
    & + &
      margin-left $box-margin