.projects
  background-color $color-primary
  color $color-white
  padding $padding
  &__container
    // background-color @backgroun-color
    max-width $max-width-mobile
    margin auto

.grid-container
  display grid
  max-width 360px
  // margin 0 auto