.contact
  padding 5rem 0
  @media screen and (min-width: 1280px)
    padding 10rem 0
  &__container
    @media(min-widht:1280px)
      // max-width 640px
  &__content
    display flex
    flex-direction column
    align-items center
    margin: auto;
    max-width: 49rem;
    @media screen and (min-width: 1024px)
      flex-direction row
      justify-content space-between
      align-items flex-start
      max-width: unset


  &__cta
    margin-bottom 5rem 
      


  &__social-media-container
    width 100%
    display flex
    flex-direction column
    @media screen and (min-width: 1024px)
      width unset
      align-self center
  &__social-media
    color $color-white
    line-height 0
    display inline-flex
    text-align: center;
    align-self: center;
    @media screen and (min-width: 1024px)
      align-self flex-start
  &__link
    border-radius 50%
    background $color-primary
    padding 1rem
    font-size 3rem
    & svg
      width 1em !important
    & + & 
      margin-left 2rem

  &__separator
    font-size 2rem
    font-weight bold
    margin 5rem 0
    display block
    align-self center
    @media screen and (min-width: 1024px)
      margin 0
  &__form-container
    flex-grow 1
    max-width 49rem
    width 100%
  
  &__btn
    margin-top 2rem



  

.input-group 
  display flex
  flex-direction column
  font-size $font-size-p
  &__label
    font-size $font-size-p
  &__input
    background-color $color-white
    border none
    border-radius 10px
    padding 5px 10px
    font-size inherit
    color $color-black
    &--text-area
      // max-width 360px
      resize none
      @media(min-width:1280px)
        height 85px
  &__label + &__input
    margin-top 10px
  & + & 
    margin-top 10px

    
