.header
  position sticky
  z-index 10
  top 0
  background-color alpha($color-gray, .95)
  width 100vw
  
  @media(min-width:1280px)
    padding 0
  &__container
    display flex
    justify-content space-between 
    align-items center
    padding-top 1.5rem
    padding-bottom 1.5rem
    cursor pointer
    max-width unset
    @media(min-width:1280px)
      // max-width 1100px
      margin auto
      padding 2rem 0


  

  &__logo
    width 4.4rem
    overflow: hidden
    @media(min-width:1280px)
      width auto
    & svg
      width 12.5rem

  &__img
    width 100%

  &__nav
    background-color alpha($color-gray, .95)
    display flex
    justify-content flex-end
    position absolute
    left -2rem
    right -2rem
    bottom -81px
    padding 2rem 4rem
    transform scaleY(0)
    transform-origin top center

    @media(min-width 1280px)
      position static
      transform scaleY(1)
      flex-direction row
      padding 0

    &--open
      transform scaleY(1)


  &__btns-container
    text-align right
    display inline-flex
    flex-direction column
    font-size $font-size-actions
    color $color-secondary
    font-weight bold
    @media(min-width 1280px)
      flex-direction row


  
  &__btn
    // text-transform uppercase
  &__btn + &__btn
    @media(min-width 1280px)
      margin-left 40px


// .header:hover .header__nav
//   transition .25s ease-in transform

.mobile-btn
  padding 2rem 1rem
  display flex
  align-items center
  justify-content center
  @media(min-width 1280px)
    display none
  &--scrolled
    background $color-primary
  &.menu-btn--open
    // background $color-primary
    background transparent
  &:focus
    outline none
    border 1px dotted


  
// .mobile-nav
//   display flex
//   justify-content center
//   color $color-primary
//   font-size $font-size-h1
//   position fixed
//   width 100vw
//   height 25rem
//   background-color $color-gray
//   // left 0
//   right 0
//   opacity 1
//   // top 0
//   bottom 0
//   z-index 10
//   transition all .5s ease
//   text-align center
//   &__list
//     display flex
//     justify-content center
//     flex-direction column
//   &__item
//     font-size 36px
//     & + & 
//       margin-top 40px

//   &--open
//     right   0
//     opacity 1