.projects
  background-color $color-gray
  color $color-secondary
  padding  5rem 0
  @media screen and (min-width: 1280px)
    padding 10rem 0 0


.grid-container
  display grid
  justify-items center
  justify-content center
  gap 20px
  grid-template-columns repeat(auto-fill, minmax(calc(320px - 40px), 35rem))
  align-items stretch
  @media screen and (min-width: 1280px)
    gap 50px
    grid-template-columns repeat(auto-fill, 350px)
  // margin 0 auto