/*************\
*   Colors
*************/
$color-primary = #2d132c
$color-primary-hover = #4A2E49
$color-btn = #EBDAEA

$color-secondary = #c72c41
$color-secondary-hover = #E6838F
$color-bg = #715670
$color-bg-light = #b79eb6
$color-black = #160104
$color-white = #F8F8FF
$color-gray = #EAEAEA
$color-gray-light = #a79da6

$outline-shadow = 0 0 .5em 0.01em $color-secondary
/*************\
*   Fonts
*************/
$font-normal = "Montserrat", sans-serif
$font-titles = "Raleway", sans-serif
$font-size-h1 = 2.7rem
$font-size-h2 = 2.4rem
$font-size-h3 = 2rem
$font-size-p = 1.6rem
$font-size-actions = 1.8rem
$font-size-small = 1.2rem
/*************\
*   Box sizes
*************/
$padding = 20px
$max-width-mobile = 360px
$border-radius = 10px
$box-margin = 10px