@import "../../stylus/_vars.styl"

.card
  color $color-white
  border-radius 10px
  // overflow hidden
  position relative
  
  background-color $color-white
  display flex
  flex-direction column
  justify-content stretch
  box-shadow: 0px 0px 20px 0px alpha($color-black, .45);
  @media screen and (min-width: 1280px)
    transform scale(1) translateY(0)
    transition transform 200ms ease-in//, box-shadow 150ms ease-in
    &:hover
      transition transform 150ms ease-in
      transform scale(1.1) translateY(-20px)
      z-index 2
      // box-shadow: 0px 0px 20px 10px alpha($color-black, .45);
      & .technologies__item //:nth-child(1)
        animation 250ms breathe ease-in
        animation-delay 150ms
        &:nth-child(2)
          animation-delay 200ms 
        &:nth-child(3)
          animation-delay 350ms

        


  &__header
    padding $padding
    padding-bottom 10px
    background-color $color-primary
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius inherit
    border-bottom-left-radius 0
    border-bottom-right-radius 0

  &__title
    margin 5px 0
  &__fig
    height 250px
    overflow hidden
    display flex
    justify-content center
    background-color $color-white
    @media screen and (min-width: 1280px)
      filter grayscale(100%)
  &:hover &__fig
      transition filter .5s ease
      filter initial
    
  &__img
    object-fit cover
    object-position top
    min-height 200px
  // &:hover &__img
  //   object-fit cover
  //   width 70%
  //   margin auto
  //   height 250px
  //   object-position top

  &__body
    background-color $color-white
    color $color-black
    padding $padding
    display flex
    flex-direction column
    flex-grow 1
    justify-content space-between
    border-radius inherit
    border-top-left-radius 0
    border-top-right-radius 0

    // height 100%
    & > p
      margin-top 0
      padding 1.6rem 0
  &__links
    display flex
  
  &__btn--project
    // border-top-right-radius 0
    // border-bottom-right-radius 0  
  &__btn--git
    width 100px
    // padding 0 1rem
    margin-left 1rem
    font-size 2.5rem
    // border-top-left-radius 0 
    // border-bottom-left-radius 0
    background-color #d5cdce
    color $color-primary
    &:hover
      background-color #bdb9b9
      color #170b16
    &:focus-visible
      box-shadow 0 0 0 .1rem $color-white, 0 0 .5rem .3rem $color-primary



.technologies
  margin-top 10px
  display flex
  justify-content space-between
  &__date
    align-self center
    font-size $font-size-small
  &__list
    display flex
    list-style none
  &__item
    font-size 2.5rem
    position relative
    display grid
    grid-template-areas "icon"
    width 2.5rem
    
  &__item + &__item
    margin-left 10px
  &__icon
    grid-area icon
    width 2.5rem
    &--img
      // width 100%
      // height 100%
      width 2.5rem
      height 2.5rem
      object-fit contain
    
    path
      fill $color-white



  &__tooltip
    grid-area icon
    background $color-white
    border 2px solid $color-secondary
    width max-content
    padding 5px 20px
    font-size 14px
    font-weight bold
    color $color-primary
    border-radius 1rem
    position absolute
    z-index 5
    bottom 0
    transform translate(calc(-50% + 12px), 0) scale(0)
    transform-origin bottom
  &__item:hover &__tooltip
    transition: transform 250ms ease-in;
    transform translate(calc(-50% + 12px), -35px) scale(1)





@keyframes breathe
  0%, 100%
    transform scale(1)
  50%
    transform scale(1.2)